/* start variable */
:root {
    --main-color: #10cab7;
    --secondary-color:#2c4755;
    --padding-section:60px;
    --bacground-color: #f6f6f6;
    --transition:0.3s ;
}

/* end variable */

/* start global ruls */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.special-heading{
    color: #ebeced;
    font-size:100px ;
    font-weight: 800px;
    margin: 0px;
    text-align: center;
    letter-spacing: -3px;
}

.special-heading + p{
    color: #797979;
    font-size:20px ;
    font-weight:10px ;
    text-align: center;
    margin: -30px 0px 0px;
    letter-spacing: 2px;
}
body {
    font-family: "work-sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* End global ruls*/
.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (max-width:768px){
    .special-heading{
        font-size: 90px;
    }
    .special-heading + p {
        margin-top: -20px ;
    }
    .services .start-services .serv {
        flex-direction: column;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* ============================================= */

/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}

.header .container .links span:first-child {
    width: 50px;
}

.header .container .links span:nth-child(2) {
    width: 30px;
    transition: var(--transition);
}

.header .container .links span:last-child {
    width: 50px;
}

/* ===================================== */

.header .container .links ul {
    list-style: none;
    position: absolute;
    right: 0px;
    top: calc(100% + 20px);
    padding: 0px;
    margin: 0px;
    min-width: 200px;
    display: none;
    z-index: 1;
}

.header .links:hover ul {
    display: block;
}

.header .container .links::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: #f6f6f6 transparent transparent transparent;
}

.header .container .links ul li a {
    display: block;
    padding: 10px;
    background-color: var(--bacground-color);
    text-decoration: none;
    color: #333;
    transition: var(--transition);
}

.header .container .links ul li a:hover {
    padding-left: 20px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 2px solid #ddd;
}

/* ====================================== *
/* end of header */

/* start landing */
.landing {
    position: relative;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
}

.landing .intro-text {
    margin: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    margin: 0px;
    font-size: 20px;
    line-height: 1.8;
}

/* end landing */
/* ========================================== */
/* start feature */
.features {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--bacground-color);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20PX;
}
.features .container .feat{
    padding: 20px;
    text-align: center;
}
.features .container .feat i {
    color: var(--main-color);
}
.features .container .feat h1{
    color: black;
    font-weight: 800;
    font-size: 17px;
}
.features .container .feat p{
    color: #777;
    line-height: 1.8;
    font-size: 17px;

}
/* end feature */
/* start services */
.services .special-heading{
    padding-top:var(--padding-section) ;
}
.services .start-services {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .start-services .col .serv{
    display: flex;
    flex-basis: 60px;
}
.services .start-services .serv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .start-services .serv .text{
    flex: 1;
}
.services .start-services .serv .text h3 {
    color: #111;
    font-weight: 800;
    margin:0px;
}
.services .start-services .serv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}
.services .start-services .col .img{
    position: relative;
    text-align: center;
}
.services .start-services .img img{
    width: 250px;
}
.services .start-services .col .img::before{
    content: "";
    position: absolute;
    right: 0px;
    width: 100px;
    top: -50px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    z-index: -1;
}
@media (max-width: 1199px ){
    .services .start-services .col .img {
        display: none;
    }
}
/* end services */
/* =========================================================== */
/* start portfolio */
.portfolio {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--bacground-color);
}
.portfolio .start-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
    margin-top: 100px;
}
.portfolio .start-portfolio .card{
    background-color: white;
}
.portfolio .start-portfolio .card img{
width: 100%;
}
.portfolio .start-portfolio .card .info{
    padding: 20px;
}
.portfolio .start-portfolio .card .info .h3{
    margin: 0px;
}
.portfolio .start-portfolio .card .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom:0px ;
}
/* end portfolio */
/* ============================================================ */
/* start about */
.About{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section +60px);
}
.About .container .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
@media (max-width:992px){
    .About .container .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.About .container .about-content .img{
    width: 250px;
    height: 375px;
    position: relative;
}
.About .container .about-content .img img {
    max-width: 100%;
}
.About .about-content .img::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
@media (max-width:992px){
    .About .container .about-content .img{
        margin: 0 auto 60px;
    }
}
.About .container .about-content .img::after{
    content: "";
    position: absolute;
    right: -150px;
    width: 120px;
    z-index: -1;
    top: -40px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
}
@media (max-width:992px){
    .About .about-content .img::before,
    .About .container .about-content .img::after{
        display: none;
  }
}
.About .text{
    flex-basis: calc(100% - 500px);
}
.About .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.About .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.About .text p:last-of-type{
    color: #777;
    line-height: 2;
}

/* end about */
/* start contact */
.contact{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color:var(--bacground-color);
}
.contact .info{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    text-align: center;
}
.contact  .info .lable{
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
    letter-spacing: -2px;
}
.contact .info  a{
    font-size: 40px;
    font-weight: 800;
    color:var(--main-color);
    text-decoration: none;
    display: block;
}
.contact .social{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    letter-spacing: 1.6px;
    font-size: 15px;
}
.contact .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width:767){
    .contact .info  a,
    .contact  .info .lable {
        font-size:30px;
    }
}
/* end contact */
/* ====================================== */
/* start footer */
.footer{
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    color: white;
    font-size:18px
}
.footer span{
    color:var(--main-color);
    font-weight: 800;
}
/* end footer */